* {
  -moz-box-sizing: border-box;                                                        
  -webkit-box-sizing: border-box;                                                    
  box-sizing: border-box;
}

body {
	background: #fff; 
	color: #807575; 
	font-size: 112%; 
  font-family: "aktiv-grotesk-std",sans-serif;
	font-weight: 300;
	line-height: 2em;
	margin: 0; 
	padding: 0; 
}

a {
	color: #6A7574; 
	text-decoration: none;
}

a:hover { color: #FCE3A1; }

h1 {
	color: #E80C7A;
  font-size: 5em;
  font-family: "minion-pro",sans-serif;
	font-weight: 300;
  line-height: 1em;
  margin: 0;
	text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
 
}

p {
 
}

ul {
  list-style: none;
  overflow: auto;
}

li {
  
  float: left;
  padding: 0.7em;
}

.big-text {
  font-size: 7em;
}

/* =================================
   HEADER
   ============================== */

#header {
  margin: 0 auto;
  padding: 15em 0;
  text-align: center;
}

.headline {
background: #fff;
color: #E80C7A;
display: inline-block;
font-family: "minion-pro";
font-size: 1.25em;
font-style: italic;
padding: 0 5%;
position: relative;
top: -17px;
}

.headline-bar {
margin: 0 auto;
margin-top: 1em;
height: 0;
text-align: center;
color: #999999;
border-bottom: 1px solid #ddd;
width: 40%;
}

/* =================================
   WRAPPER
   ============================== */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 740px;
}


.wrapper-small {
  width: 90%;
  margin: 0 auto;
  max-width: 340px;
}

/* =================================
   BOXES
   ============================== */

.box {
  margin: 0 auto;
  margin-top: 3em;
  width: 100%;
  max-width: 485px;
}

/* =================================
   CIRCLE
   ============================== */

.circle {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  margin: 0 auto;
  margin-right: 0;
  padding: 0.6em 0;
  width: 70px;
}

/* =================================
   SECTIONS
   ============================== */

.blue-effra {
	background: #3fabda;
  color: #fff;
  font-family: "effra",sans-serif;
  /*border-bottom: 1px solid #e9e9e9;*/
  padding: 5em;
}

.blue-effra h2 {
  margin-top: 0;
}

/* --------white-apolline-------- */

.white-apolline {
  color: #504646;
  font-family: "apolline",serif;
  padding: 6em;
}

.white-apolline h2 {
  color: #504646;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

.white-apolline h3 {
  font-weight: 400;
  font-style: italic;
  margin-top: 0;
}

.white-apolline p {
  font-size: 1em;
  font-weight: 400;
}

/* ----yellow-brandon-grotesque---- */

.yellow-brandon-grotesque {
  background: #f8b504;
  color: #fff;
  padding: 3em;
  font-family: "brandon-grotesque",sans-serif;
}

.yellow-brandon-grotesque h2 {
  color: #fff;
  font-weight: 300;
}

.yellow-brandon-grotesque h3 {
  font-size: 2.2em;
  font-weight: 500;
}

.yellow-brandon-grotesque p {
  font-size: 2em;
  font-weight: 100;
  margin-top: 0.5em;
  text-align: left;
}

.magenta-container {
  background: #E80C7A;
}

/* =================================
   COLORED TEXT
   ============================== */


/* =================================
   COLUMNS
   ============================== */

.row {
  margin: 2em 0;
  overflow: hidden;
}

.column {
  float: left;
  margin-left: 10%;
  text-align: center;
}

.column:first-child { margin-left: 0; }

.dashed {
  border: 1px dashed #eee;
}

.half { width: 44.5%; }

.third { width: 30%; }

/* =================================
   FONTS
   ============================== */

.font-brandon-grotesque {
  color: #fff;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 300;
}

.font-brandon-grotesque-bold {
  color: #fff;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 2.3em;
}

.font-effra {
   font-family: "effra",sans-serif;
   font-weight: 300;
}

.font-minion-pro {
  color: #fff;
  font-family: "minion-pro",sans-serif;
  font-weight: 400;
  } 

.font-apolline {


}

/* =================================
   LINES
   ============================== */

/*h3:after {
  display: block;
  margin: 30px auto 0 auto;
  content: " ";
  width: 60px;
  border-bottom: 2px solid #eee;
}*/

hr {
  border: 0;
  border-bottom: 2px solid #eee;
  margin: 2em auto;
  width: 3rem;
}


/* =================================
   GIST OVERRIDES
   ============================== */

.gist .gist-file {
  font-size: .9rem !important;
  margin: 0 auto;
  max-width: 750px;
  overflow: hidden !important;
  text-align: left;
}

.gist .gist-file .gist-data {
  background: #f8f8f8 !important;
  border-bottom: none !important;
}

.gist .gist-file .gist-meta {
  display: none !important;
}

.gist-syntax .k {
  color: #555 !important;
  font-weight: normal !important;
}

/* =================================
   CLEAR FIX
   ============================== */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* =================================
   ULTILIES
   ============================== */

.remove-margin-bottom {
  margin-bottom: 0;
}

.remove-margin-left {
  margin-left: 0;
}


