body {
	background: white; 
	color: #6A7574; 
	font-size: 112%; /*allows font elemets to take their sizes from the body*/
	font-family: 'Rosario', sans-serif;
	font-weight: 300;
	line-height: 2em;
	margin: 0; 
	padding: 0; 
}

* {
  -moz-box-sizing: border-box;                                                        
  -webkit-box-sizing: border-box;                                                    
  box-sizing: border-box;
}

a {
	color: #6A7574;
	text-decoration: none;
}

a:hover { color: #FF7865; }

div { display: block; }


h1 {
	color: #FF7865;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

h2 {
	margin-bottom: 1em;
	text-align: center;
}

h3 {
	color: #FAA498;
	font-size: 1em;
	font-weight: 700;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
    width: 300px;
}

p {
	font-size: 1em;
	font-style: normal;
	margin-bottom: 1em;
}

.feature {
	margin: 0 auto;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
}

.underline { text-decoration:underline } 

/*----------- NAVIGATION ------------------*/

#header {
	margin: 0 auto;
	margin-top: 0px;
	max-width: 960px;
	width: 100%;
}

.nav {
	font-size: 16px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 0.2em;
}

.nav li { display: inline; }

.nav a {
	display: inline-block;
	padding: 0.5em;
}

/*---------CONTAINER ----------------*/

#container {
	margin: 0 auto;
	overflow: hidden;
	padding: 2em 0;  
	width: 90%;
	max-width: 960px;
}

.container-list {
	margin: 0 auto;
	max-width: 620px;
}

/*------------CONTENT----------------*/

#content { 
	margin: 0 auto;
	padding-top: 100px; 
}

.row {
	margin: 2em 0;
	overflow: hidden;
}

.column {
	float: left;
	margin-left: 5%;
	text-align: center;
}

.column:first-child { margin-left: 0; }

/*------------COLUMN SIZES------------*/

.column.half { width: 47.5%; }

.column.third { width: 30%; }

/*-------------UTILITIES--------------*/

.remove-margin { margin-left: 0; }

.example { 
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 13px;
	line-height: 19px;
	margin: 1em 0;
	overflow: auto;
	padding: 1em;
}

/*-----------BLOG PAGE ---------------*/

.blog-list { }

.blog-list span { float: right; }

.blog-text{ text-align: left; }

article {
	max-width: 620px;
	margin: 0 auto;
}

article p { }

/*----------CIRCLE IMAGES-------------*/

.image {
  	max-width: 100%;
	/*makes your images more flexible
	without giving max-width, it'll break*/
	height: auto;
	/*makes their height automatically 
	proportionate to their width*/
	margin: 0 0 10px 0;
}

.circular {
	background-position: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 200px;
}

/* ---------Gist Overrides----------- */

.gist .gist-file {
  font-size: .9rem !important;
  margin: 0 auto;
  max-width: 750px;
  overflow: hidden !important;
  text-align: left;
}

.gist .gist-file .gist-data {
  background: #f8f8f8 !important;
  border-bottom: none !important;
}

.gist .gist-file .gist-meta {
  display: none !important;
}

.gist-syntax .k {
  color: #555 !important;
  font-weight: normal !important;
}



