/*----------MEDIA QUERIES---------------*/

@media screen and (max-width: 768px) {
	.column {
		float: none;
		margin-left: 0;
		padding: 0 3em;
}

	.column:first-child {

}

	.column.half { width: 100%; }

	.paddingtop {
		padding-bottom: 20px;
	}

	.column.third {
		width: 100%
	}

	.circular{
	width: 100%;
	max-width: 300px;

}

@media screen and (max-width: 320px) {

#container {
	overflow: hidden;
	margin: 0 auto;
	padding: 2em 0.5em;  
	width: 100%;
}

.column {
		float: none;
		margin: 0;
		padding: 0;
	}	

.column.half { width: 100%; }

}

