---
layout: projects-layout
---

<!doctype html>
<html>
  <head>    
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chicago Doughnuts</title>
    <link href="./stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  </head>

  <body> 
    <a href="index.html">
      <div class="home-tab">home</div>
    </a>

    <section id="navigation">
      <div class="nav-bar">
        <div class="small-dotted-box cf">
          <a href="index.html"><p class="bold light-beige">home</p></a>
        </div>
      </div>
    </section>
  
    <section class="white">
      <h4>Glazed &amp; Infused</h4>

      <div class="description-box cf">
        <div class="heart-line">
        <h2 class="menu">Menu</h2>
        </div>
      </div>

      <div class="wrapper">
        <ul class="menu-list">
          <li>Todays Special Flavor</li>
          <li>Fruit Fritter frit</li>
          <li>Old Fashioned</li>
          <li>Crunchy PB &amp; J</li>
          <li>Crème Brûlée</li>
          <li>Maple Bacon Long John bacon</li>
          <li>Vanilla Bean Glazed vanilla</li>
          <li>Lemon Coconut</li>
          <li>Raspberry Glazed</li>
          <li>Red Velvet</li>
          <li>Cocoa buttermilk cake</li>
          <li>Chocolate4</li>
          <li>Blueberry Lemon</li>
          <li>Passion Fruit White Chocolate</li>
          <li>Coffee Glazed Buttermilk</li>
        </ul>
      </div>


      <!--   <table class="menu-table">
          <tbody>
            <tr class="menu-table-row">
              <td class="text-left">Todays Special Flavor</td>
              <td>gluten-Less pumpkin brown sugar</td>
            </tr>
            <tr>
              <td class="text-left">Fruit Fritter frit</td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Old Fashioned</td>
              <td>spiced buttermilk cake with vanilla bean glaze</td>
            </tr>
            <tr>
              <td class="text-left">Crunchy PB &amp; J</td>
              <td>crunchy peanut butter glazed bismark, filled with mix berry jam from Rare Bird preserves</td>
            </tr>
            <tr>
              <td class="text-left">Crème Brûlée</td>
              <td>vanilla crème brûlée filled bismark with brûléed sugar crust</td>
            </tr>
            <tr>
              <td class="text-left">Maple Bacon Long John bacon</td>
              <td>yeast raised long john with real maple glaze &amp; peppered maple bacon</td>
            </tr>
            <tr>
              <td class="text-left">Vanilla Bean Glazed vanilla</td>
              <td>yeast raised ring with Madagascar vanilla bean glaze</td>
            </tr>
             <tr>
              <td class="text-left">Lemon Coconut</td>
              <td>vanilla cake with lemon glaze and fresh coconut shavings ontop</td>
            </tr>
            <tr>
              <td class="text-left">Raspberry Glazed</td>
              <td>yeast raised ring with a homemade raspberry glaze</td>
            </tr>
            <tr>
              <td class="text-left">Red Velvet</td>
              <td>yeast raised ring with a homemade raspberry glaze</td>
            </tr>
            <tr>
              <td class="text-left">Cocoa buttermilk cake</td>
              <td>Comes with vanilla bean glaze, cream cheese forsting, and red velvet crumbles</td>
            </tr>
            <tr>
              <td class="text-left">Chocolate4</td>
              <td>Chocolate cake covered in chocolate ganache, white chocolate pearls, and dark chocolate shavings</td>
            </tr>
            <tr>
              <td class="text-left">Blueberry Lemon</td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Passion Fruit White Chocolate</td>
              <td>White Chocolate Glaze with Passion Fruit Cream Filling</td>
            </tr>
            <tr>
              <td class="text-left">Coffee Glazed Buttermilk</td>
              <td></td>
            </tr>
          </tbody>
        </table> -->

    </section>


  </body>
</html>