---
layout: projects-layout
---

<!doctype html>
<html>
  <head>    
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chicago Doughnuts</title>
    <link href="./stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  </head>

  <body> 
    <a href="index.html">
      <div class="home-tab">home</div>
    </a>

    <section id="navigation">
      <div class="nav-bar">
        <div class="small-dotted-box cf">
          <ul>
            <li>home</li>
            <!-- <li>menus</li> -->
          </ul>
        </div>
      </div>
    </section>

    <div id="large-header">
      <div class="header-box">
      <h2 class="top-picks">Top Picks</h2>
      <div class="header-line">
        <h2 class="for-the-best">for my favorite</h2>
      </div>
      <h1 class="chicago-donuts">Chicago Donuts</h1>
    </div>
  </div>

    <div id="small-header">
      <div class="header-box">
        <h2 class="top-picks">top picks</h2>
        <h2 class="for-my-fav">for my favorite</h2>
        <hr class="header-line">
        <h1 class="chicago">chicago</h1>
        <h1 class="donuts">donuts</h1>
      </div>
    </div>

    <section class="dark-pink">
      <div class="dotted-box cf">
        <div class="wrapper">
          <div class="column third">
            <img class="doughnut" src="/images/doughnut1.png">
          </div>
        </div>
      </div>
    </section>

    <section class="white cf">
      <div class="title-box cf">
        <div class="frame-number">#1</div>
        <h3>Doughnut Vault</h3>
        <hr class="dashed-line margin-top">
        <hr class="dashed-line">
        <div class="row">
          <div class="column third">
            <a href=""><p class="text-left">about</p></a>
          </div>
          <div class="column third">
            <a href=""><p>menu</p></a>
          </div>
          <div class="column third">
            <a href="http://thedoughnutvault.tumblr.com/"><p class="text-right">website</p></a>
          </div>
        </div>
      </div>
    </section>
      
    <section class="white cf">
      <div class="title-box">
        <div class="frame-number">#2</div>
        <h3>Glazed &amp; Infused</h3>
        <hr class="dashed-line margin-top">
        <hr class="dashed-line">
        <div class="row">
          <div class="column third">
          <a href="glazedinfused.html"><p class="text-left">about</p></a>
          </div>
          <div class="column third">
            <a href="glazedinfused-menu.html"><p>menu</p></a>
          </div>
          <div class="column third">
            <a href="http://www.goglazed.com/"><p class="text-right">website</p></a>
          </div>
        </div>
      </div>
    </section>

    <section class="white cf">
      <div class="title-box">
        <div class="frame-number">#3</div>
        <h3>Firecakes</h3>
        <hr class="dashed-line margin-top">
        <hr class="dashed-line">
        <div class="row">
          <div class="column third">
          <a href=""><p class="text-left">about</p></a>
          </div>
          <div class="column third">
            <a href=""><p>menu</p></a>
          </div>
          <div class="column third">
            <a href="http://firecakesdonuts.com/"><p class="text-right">website</p></a>
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>