---
layout: projects-layout
---

<!doctype html>
<html>
  <head>    
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Color</title>
    <link href="./stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//use.typekit.net/jep8mdb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
  	<section class="section">
      <h1 class="extra-light remove-margin-bottom">Playing</h1>
      <div class="line">
      <div class="italic">with</div>
      </div>
       <h1>color theory</h1>
      <div class="header">
    		<div class="color-line-container cf">
           <div class="color-vertical plum">
           </div>
           <div class="color-vertical red">
           </div>
           <div class="color-vertical orange">
           </div>
           <div class="color-vertical yellow">
           </div>
           <div class="color-vertical blue">
           </div>
           <div class="color-vertical green">
           </div>
        </div>
          <p>Color is a huge element to design. It can evoke different reactions and emotions from each person. In consideration of time, culture, and personal preference, each person views color in their own unique way. </p>
          
        </div>
    </section>
    <section class="section cf">
      <h1>Primary Colors</h1>
      <div class="box cf">
        <div class="row">
          <div class="column">
          <div class="color-horizontal red"></div>
          </div>
          <div class="column">
          <div class="color-horizontal blue"></div>
          </div>
          <div class="column">
          <div class="color-horizontal yellow"></div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="column">
            <h2>Red</h2>
          </div>
          <div class="column">
            <h2>Blue</h2>
          </div>
          <div class="column">
            <h2>Yellow</h2>
          </div>
        </div> -->
   
      <h2>Red</h2>
      <p>Is the color of blood is associated with heat</p>
       </div>
    </section>
  </body>
</html>