---
title: About
pageable: true
per_page: 10
---

<div class="container-list">
<h1>About</h1>
	
		 <p class="headline">My name is Cassie and I recently came to Chicago to learn front end development.</p>
		 <br />
		 <br />
		 <p>I graduated from the University of Maryland with a Bachelor's Degree in Fine Arts with a concentration in graphic design. I'm a huge fan of illustration and refinishing furniture. 
		<br />
		<br />I come from a big family that owns eleven dogs, two of which, belong to me. A Miniature Daschund named Poopie and an American Staffordshire Bull Terrier named Maggie. 
		<br />
		<br />
		<div class="column-half">
			<img src="/images/poopie1.jpg" alt="image1" class="circular">
		</div>
		<div class="column-half">
			<img src="/images/maggie.jpg" alt="image1" class="circular">
		</div>
		<br />
		<br />Want to get in touch? Feel free to contact me at cassieshumway@gmail.com
		</p>

</div>
	
