---
title: About
pageable: true
per_page: 10
---

<div class="container-list">
	<h1>About</h1>
	<p>I graduated from the University of Maryland with a Bachelor's Degree in Fine Arts with a concentration in graphic design. I'm a huge fan of illustration, love to refinish furniture, and snowboard any chance I get.</p>
	<p>I come from a big family that owns eleven dogs, two of which, belong to me. A Miniature Daschund named Poopie and an American Staffordshire Bull Terrier named Maggie.</p>

	<div class="row">
		<div class="column half paddingtop">
			<img src="/images/poopie1.jpg" alt="image1" class="circular">
		</div>
		<div class="column half">
			<img src="/images/maggie.jpg" alt="image1" class="circular">
		</div>
	</div>

	<p/>Want to get in touch? Feel free to contact me at <a class="underline" href="mailto:cassieshumway@gmail.com">cassieshumway@gmail.com</a></p>
</div>
	
