---
pageable: true
per_page: 10
---





  <div id="container">
    <div class="column">
      <h1>Hi, I'm Cassie</h1>
          <p>I'm from the Washington D.C. area and I came to Chicago looking to learn front end development.  
          <br />
          <br />Find out more about me <a href="about.html">here</a>
          </p>
    </div>
        <div class="column second">
          <div class="circle">
          </div>
        </div>
      <div class="column">
          <h1>What I'm Doing</h1>
            <p>I'm currently a novice at 8th Light learning from a mentor. Here I'm learning to write HTML & CSS.
            <br />
            <br />See my current projects <a href="projects.html">here</a>
            </p>
        </div>
  </div>

