<article>
  <h1>Projects</h1>
  <ul class="blog-list">
    <li>
      <a href="project-typography/">Typography</a>
      <span>April 18</span>
    </li>
    <li>
      <a href="project-position/">Positioning</a>
      <span>March 19</span>
    </li>
    <li>
      <a href="project-floats/">Floats</a>
      <span>March 4</span>
    </li>
    <li>
      <a href="project-inlineblock/">Inline & Block Elements</a>
      <span>Feb 25</span>
    </li>
    <li>
      <a href="project-cssbasics/">CSS Basics</a>
      <span>Dec 12</span>
    </li>
    <li>
      <a href="project-relativelength/">Relative Lengths</a>
      <span>Dec 5</span>
    </li>
  </ul>
</article>