<article>
  <div class="blog-list">
    <h1>Projects</h1>
      <ul>
        <li>
          <a href="project-inlineblock/">Inline & Block Elements</a>
            <span>Feb 25</span>
        </li>
            <li>
              <a href="cssbasics-project/">CSS Basics</a>
                <span>Dec 12</span>
            </li>
              <li>
                <a href="relativelength-project/">Relative Lengths</a>
                 <span>Dec 5</span>
              </li>
                <li>
                	<a href="project-topics/">Columns</a>
                     <span>Jan 2</span>
                </li>
          <li>
          	<a href="margin-project/">Margins</a>
            <span>Jan 4</span>
          </li>  
      </ul>
  </div>
</article>