<div class="container-list">
<h1 class="headline">Projects</h1>
  <ul>
    <li>
      <a href="relativelength-project/">Relative Lengths</a>
        <span>Dec 5</span>
      </li>
        <li>
          <a href="cssbasics-project/">CSS Basics</a>
            <span>Dec 12</span>
        </li>
      <li>
      	<a href="project-topics/">Columns</a>
           <span>Jan 2</span>
      </li>

      <li>
      	<a href="margin-project/">Margins</a>
        <span>Jan 4</span>
      </li>  
  </ul>
</div>